{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}

 <div class="container">
 
    <h2 class="text-center mt-5 mb-3">Affichage des utilisateur</h2>
     
     <div class="row">
    <div class="col float-start">
         <a href="{{ path('app_users_new') }}" class="btn btn-primary ">Nouveau</a>
    </div>
    <div class="col float-end">
        <input type="search" class="form-control-sm">
    </div>

     
 </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        <div class="card-body">
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </div>
        </tbody>
    </table>
   
     </div>

    
{% endblock %}
